body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.4rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1715px;
    padding: 1.5rem 1rem;
}

button[variant="outlined"] {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-full);
    font-size: 1.2rem;
    cursor: pointer;
}

a.btn-primary,
button[variant="primary"] {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color-inverse);
    padding: 1.8rem 2.5rem;
    border-radius: var(--border-radius-full);
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

a.btn-primary {
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}