body {
    font-family: var(--primary-font), sans-serif;
    line-height: 1.4rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1875px;
    padding: 1.5rem 1.8rem;
}

button {
    font-family: var(--primary-font), sans-serif;
}

a[variant="outlined"],
button[variant="outlined"] {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-full);
    font-size: 1.2rem;
    line-height: normal;
    cursor: pointer;
}

a.btn-primary,
button[variant="primary"] {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color-inverse);
    padding: 1.8rem 2.5rem;
    border-radius: var(--border-radius-full);
    font-size: 1.2rem;
    line-height: 1.5rem;
    cursor: pointer;
}

button[variant="invisible"] {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

a.btn-primary {
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: var(--primary-font);
}

.secondary-text {
    font-family: var(--secondary-font);
}

.no-padding {
    padding: 0 !important;
}

.h-full {
    height: 100%;
}

body:has(dialog[open]) {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

.rastano-font {
    font-family: var(--rastano-font);
}

/* Background Colors and Gradients */
.bg-white {
  background-color: rgba(255,255,255, 0.3);
}
.bg-rose {
  background-color: var(--rose);
}
.bg-cold {
  background-color: var(--cold);
}
.bg-light-rose {
  background-color: var(--light-rose);
}
.bg-light-cold {
  background-color: var(--light-cold);
}
.bg-light-petal {
  background-color: var(--light-petal);
}
.bg-light-bone {
  background-color: var(--light-bone);
}
.bg-light-mint {
  background-color: var(--light-mint);
}
.bg-light-cream {
  background-color: var(--light-cream);
}
.bg-light-sage {
  background-color: var(--light-sage);
}
.bg-light-sand {
  background-color: var(--light-sand);
}
.bg-light-linen {
  background-color: var(--light-linen);
}

.bg-mint-gradient {
  background-image: linear-gradient(28deg,
     rgba(167, 204, 187, 0.77) 7%,
     rgba(183, 233, 225, 0.77) 93%);
}

.bg-sand-gradient {
  background-image: linear-gradient(25deg,
     rgba(171, 114, 37, 0.77) 8%,
     rgba(235, 225, 196, 0.77) 100%);
}

.bg-linen-gradient {
  background-image: linear-gradient(28deg,
     rgba(211, 196, 161, 0.77) 7%,
     rgba(247, 241, 224, 0.77) 93%);
}

.bg-cold-gradient {
  background-image: linear-gradient(207deg,
     rgba(179, 203, 218, 0.77) 6%,
     rgba(104, 142, 176, 0.77) 94%);
}