.contact-us-section {
  padding-bottom: 7rem;
}

.contact-us-wrapper {
  background-color: var(--white);
  border-radius: var(--border-radius-12);
  padding-inline: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-us-form {
  width: 100%;
}

.contact-us-form form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-us-form form input,
.contact-us-form form textarea {
  font-family: var(--primary-font), sans-serif;
  border: 1px solid var(--border-color-primary);
  border-radius: var(--border-radius-12);
  padding: 1.2rem 1.4rem;
  line-height: 1.6rem;
}

.contact-us-form form input {
  font-size: 1.4rem;
}
.contact-us-form form input::placeholder {
  color: var(--text-color-form)
}

.contact-us-form form textarea {
  font-size: 1.2rem;
}

.contact-us-form form textarea::placeholder {
  color: var(--text-color-disabled);
}

.contact-us-form button[type="submit"] {
  width: 23rem;
  align-self: center;
  margin-top: 1rem;
}

.contact-us-content .title {
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: center;
}

.contact-us-content p {
  font-size: 1.5rem;
  line-height: 2.1rem;
  color: var(--text-color-form)
}

.contact-us-section-alt {
  margin-top: 4.5rem;
  background-color: var(--white);
  border-radius: var(--border-radius-12) var(--border-radius-12) 0 0;
}

@media (min-width: 768px) {
  .contact-us-content {
      max-width: 66rem;
      text-align: center;
  }
  .contact-us-form {
      max-width: 52rem;
  }
  .contact-us-form form{
      gap: 1.6rem;
  }
  .contact-us-form button[type="submit"] {
      margin-top: 2rem;
  }
  .contact-us-section-alt {
      margin-top: 9rem;
      border-radius: var(--border-radius-30) var(--border-radius-30) 0 0;
  }
}
