desktop-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.55s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: absolute;
  top: calc(var(--announcement-bar-height-desktop, 6rem) * -1);
  left: 0;
  width: 100%;
  z-index: 10;
}

.desktop-menu-wrapper {
  min-height: 0;
}

.desktop-menu-content {
  background-color: var(--background-color);
  padding-top: calc(var(--announcement-bar-height-desktop, 6rem) + var(--header-height-desktop, 7rem) + 3.5rem);
  border-radius: 0 0 var(--border-radius-30) var(--border-radius-30);
  display: flex;
  justify-content: center;
}

.desktop-menu-container {
  min-height: 26rem;
  width: 100%;
  max-width: 1875px;
  padding: 2.8rem 8rem;
  display: flex;
}

.header-is-sticky desktop-menu {
  top: 0;
}

.header-is-sticky .desktop-menu-content {
  padding-top: calc(var(--header-height-desktop, 7rem) + 3.5rem);
}

.dm-open desktop-menu {
  grid-template-rows: 1fr;
}

.desktop-menu-row {
  gap: 2.4rem;
  justify-content: center;
  max-height: 17rem;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.desktop-menu-row.is-active {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.desktop-menu-col {
  display: flex;
}

.desktop-menu-image {
  border-radius: var(--border-radius-20);
  width: 37rem;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-block: 1rem;
}

.menu-list-item-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--text-color-secondary);
  font-size: 2rem;
  line-height: 1.6rem;
  white-space: nowrap;
}

.menu-list-item-link:hover {
  color: var(--primary-color);
  font-family: var(--primary-media-font);
}

.menu-list-item-icon {
  display: flex;
}

.menu-list-item-link:hover .menu-list-item-icon{
  color: var(--primary-color);
}

desktop-menu:not(:defined) {
  display: none;
}

desktop-menu:defined {
  display: grid;
}

@media (min-width: 1200px) {
 .desktop-menu-row {
    gap: 4.4rem;
  }
}

@media (min-width: 1440px) {
 .desktop-menu-row {
    gap: 6.4rem;
  }
}