.gallery-section {
    position: relative;
}

.gallery-section .container {
    max-width: 1200px;
}

.gallery-grid {
    width: 100%;
    display: none;
}

.gallery-grid .gallery-item {
    display: block;
    width: 100%;
}

.gallery-grid .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: var(--border-radius-12);
}

.gallery-grid .aspect-rect,
.gallery-grid .aspect-square {
  aspect-ratio: 1 / 1;
}

.alter-gallery-slider,
.gallery-slider {
    position: relative;
}

.gallery-slider .swiper-slide img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--border-radius-12);
}

.gallery-section .swiper-nav-holder,
.alter-gallery-section .swiper-nav-holder {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding-top: 1.5rem;
    margin-top: 3.5rem;
    border-top: 1px solid var(--border-color-secondary);
}

.gallery-section .swiper-pagination,
.alter-gallery-section .swiper-pagination {
    position: relative !important;
    width: auto !important;
    font-size: 1.5rem;
    line-height: 2rem;
    bottom: 0 !important;
    top: 0 !important;
}

.gallery-section .swiper-nav-btns,
.alter-gallery-section .swiper-nav-btns {
    display: flex;
    position: relative;
    gap: 1.6rem;
    height: 100%;
}

.gallery-section .swiper-button-prev,
.gallery-section .swiper-button-next,
.alter-gallery-section .swiper-button-prev,
.alter-gallery-section .swiper-button-next {
    position: relative !important;
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--text-color-secondary);
    border-radius: var(--border-radius-full);
    opacity: 1 !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.gallery-section .swiper-button-prev svg,
.gallery-section .swiper-button-next svg,
.alter-gallery-section .swiper-button-prev svg,
.alter-gallery-section .swiper-button-next svg {
    width: 2rem !important;
    color: var(--white);
}

.gallery-section .swiper-button-disabled,
.alter-gallery-section .swiper-button-disabled {
    cursor: not-allowed;
    background-color: var(--white);
}

.gallery-section .swiper-button-disabled svg,
.alter-gallery-section .swiper-button-disabled svg {
    color: var(--arrow-icon-color);
}

@media (min-width: 768px) {
    .gallery-grid {
        column-count: 2;
        column-gap: 1.9rem;
        display: block;
    }
    .gallery-grid .gallery-item {
        break-inside: avoid;
        margin-bottom: 1.6rem;
    }
    .gallery-grid .gallery-item img {
        border-radius: var(--border-radius-30);
    }
    .gallery-grid .aspect-rect {
        aspect-ratio: 2 / 1;
    }
    .gallery-slider,
    .gallery-section .swiper-nav-holder {
        display: none !important;
    }
}