.gallery-section {
    position: relative;
}

.gallery-grid {
    width: 100%;
    display: none;
}

.gallery-grid .gallery-item {
    display: block;
    width: 100%;
}

.gallery-grid .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: var(--border-radius-12);
}

.gallery-grid .aspect-rect,
.gallery-grid .aspect-square {
  aspect-ratio: 1 / 1;
}

.gallery-slider {
    position: relative;
}

.swiper-slide img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--border-radius-12);
}

.swiper-nav-holder {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding-top: 1.5rem;
    margin-top: 3.5rem;
    border-top: 1px solid var(--border-color-secondary);
}
.swiper-pagination {
    position: relative !important;
    width: auto !important;
    font-size: 1.5rem;
    line-height: 2rem;
    bottom: 0 !important;
    top: 0 !important;
}
.swiper-nav-btns {
    display: flex;
    position: relative;
    gap: 1.6rem;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative !important;
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--text-color-secondary);
    border-radius: var(--border-radius-full);
    opacity: 1 !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.swiper-button-prev svg,
.swiper-button-next svg {
    width: 2rem !important;
    color: var(--white);
}

.swiper-button-disabled {
    cursor: not-allowed;
    background-color: var(--white);
}
.swiper-button-disabled svg{
    color: var(--arrow-icon-color);
}