header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

header .announcement-bar {
    width: 100%;
    height: 4.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color-inverse);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .announcement-bar a {
    color: var(--secondary-color-inverse);
    text-decoration: underline;
    display: block;
}

header .container {
    padding: 0;
}

.header-content-wrapper {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2rem);
    padding-inline: 1.8rem;
    border-radius: var(--border-radius-12);
    backdrop-filter: blur(.5rem) saturate(103%) brightness(92%);
    -webkit-backdrop-filter: blur(.5rem) saturate(103%) brightness(92%);
    background: rgba(255, 255, 255, 0.05);
    position: absolute;
    top: calc(100% + 1.5rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

header .nav-links {
    display: flex;
    gap: 3.4rem;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

header .nav-links a {
    color: var(--primary-color);
    text-decoration: none;
    display: none;
}

header button[variant="outlined"] {
    border: 1px solid var(--primary-color-inverse);
    color: var(--primary-color-inverse);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    height: auto;
    width: 3.4rem;
    object-fit: contain;
    color: var(--primary-color-inverse);
}

header .mobile-menu-btn {
    display: flex;
    color: var(--primary-color-inverse);
    padding-right: 4px;
}