header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}

.header-is-sticky header {
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
}

body.dm-open .header-is-sticky header {
    top: 0;
}

body:not(.dm-open).header-is-sticky header.header--hidden {
    top: -200px;
}

header .container {
    padding: 0;
}

.header-content-wrapper {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2rem);
    padding-inline: 1.8rem;
    border-radius: var(--border-radius-12);
    backdrop-filter: blur(.5rem) saturate(103%) brightness(92%);
    -webkit-backdrop-filter: blur(.5rem) saturate(103%) brightness(92%);
    background: rgba(255, 255, 255, 0.05);
    transition: background-color 0.4s ease-in-out, backdrop-filter 0.4s ease-in-out;
    position: absolute;
    top: calc(100% + 1.5rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.dm-open .header-content-wrapper  {
    background: transparent;
    backdrop-filter: unset;
}

header .nav-links {
    display: flex;
    gap: 3.4rem;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

header .nav-links a {
    color: var(--primary-color);
    text-decoration: none;
    display: none;
}

header .nav-links a[variant="outlined"] {
    display: block;
    text-decoration: none;
    border: 1px solid var(--primary-color-inverse);
    color: var(--primary-color-inverse);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo-link {
    display: flex;
}

header .logo {
    height: auto;
    width: 3.4rem;
    object-fit: contain;
    color: var(--primary-color-inverse);
}

header .mobile-menu-btn {
    display: flex;
    color: var(--primary-color-inverse);
    padding-right: 4px;
}

@media (min-width: 1024px) {
    .header-content-wrapper {
        height: var(--header-height-desktop);
        padding-inline: 4rem;
        width: calc(100% - 16rem);
        top: calc(100% + 3.5rem);
    }
    header .nav-links a {
        display: inline-block;
    }

    [data-dropdown-id] {
        position: relative;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    [data-dropdown-id]::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 2px;
        width: 100%;
        opacity: .5;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);

        will-change: transform;
        pointer-events: none;
    }

    [data-dropdown-id].is-active::after {
        transform: scaleX(1);
    }

    .container {
        padding-inline: 8rem;
    }
    header .nav-links a[variant="outlined"] {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }
    header .logo {
        width: 6.8rem;
        color: var(--primary-color);
    }
    header .mobile-menu-btn {
        display: none;
    }
}

@media (min-width: 1875px) {
    .header-content-wrapper {
        width: calc(1875px - 16rem);
    }
}

/* mobile drawer styles */
.drawer-navigation-links {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-block: 4rem;
    font-size: 2.4rem;
    line-height: 1.6rem;
}

.drawer-announcement-bar-content a,
.drawer-announcement-bar-content span {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--text-color-secondary);
}
.drawer-announcement-bar-content {
  text-align: center;
}
.drawer-secondary-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 13rem;
}
.drawer-secondary-links a,
.drawer-navigation-links a {
    text-decoration: none;
    color: var(--text-color-secondary)
}
.drawer-secondary-links a {
    font-size: 1.6rem;
    line-height: 5.3rem;
}

mobile-menu:not(:defined) {
  display: none;
}

mobile-menu:defined {
  display: block;
}