.hero-section-wrapper {
    height: 100dvh;
    width: 100%;
    max-height: 682px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-block: 8rem 5.5rem;
    text-align: center;
    background-image: url('../images/home-page/hero-background-mobile.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.hero-title-custom-font {
    font-style: italic;
}
.hero-section-title,
.hero-section-subhead {
    color: var(--primary-color-inverse);
}

.hero-section-title {
    font-size: 4.2rem;
    line-height: 4rem;
    margin-bottom: 1.3rem;
    color: var(--primary-color-inverse);
}

.hero-section-subhead {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 3rem;
}