.hero-section-wrapper {
    height: 150dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-section-content{
    width: 100%;
    max-width: 100%;
    height: 100%;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-block: 0 5rem;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.hero-image-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    height: 100dvh;
    top: 0;
}

.hero-secondary-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hero-secondary-image {
    display: block;
    position: absolute;
    bottom: 0;
    right: -5%;
    width: 50%;
    height: auto;
    z-index: 1;
    max-width: 54rem;
}

.hero-main-image-desktop {
    position: relative;
    bottom: 0;
    right: 2rem;
    height: auto;
    width: 52%;
    display: none;
}

.hero-main-image-mobile {
    object-fit: cover;
}

.hero-section-title,
.hero-section-subhead,
.hero-section-ctas {
    z-index: 1;
}

.hero-section-title,
.hero-section-subhead {
    color: var(--primary-color-inverse);
}

.hero-section-title {
    font-size: 4.2rem;
    line-height: 4rem;
    margin-bottom: 1.3rem;
    color: var(--primary-color-inverse);
}

.hero-section-subhead {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 3rem;
    max-width: 27rem;
}
.hero-section-ctas {
    pointer-events: all;
}