.hero-section-wrapper {
    height: 100dvh;
    width: 100%;
    max-height: 682px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-block: 8rem 5.5rem;
    text-align: center;
    background-image: url('../images/home-page/hero-background-mobile.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.hero-section-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-block: 0;
    position: relative;
}

.hero-main-image {
    position: absolute;
    bottom: 0;
    right: 10rem;
    height: auto;
    width: 52%;
    display: none;
}

.hero-secondary-image {
    position: absolute;
    bottom: 6rem;
    right: 47%;
    height: auto;
    width: 25%;
    display: none;
}

.hero-section-title,
.hero-section-subhead,
.hero-section-ctas {
    z-index: 1;
}

.hero-section-title,
.hero-section-subhead {
    color: var(--primary-color-inverse);
}

.hero-section-title {
    font-size: 4.2rem;
    line-height: 4rem;
    margin-bottom: 1.3rem;
    color: var(--primary-color-inverse);
}

.hero-section-subhead {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 3rem;
    max-width: 27rem;
}