.features-sections-wrapper {
    gap: 5rem
}

.image-with-copy-container {
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
    justify-content: center;
}
.image-with-copy-image {
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    max-width: 100%;
}
.image-with-copy-image img {
    object-fit: contain;
    border-radius: var(--border-radius-12);
}

.image-with-copy-text .title {
    font-size: 2.8rem;
    line-height: 3.4rem;
    padding-bottom: 1.3rem;
}
.image-with-copy-text .subtitle {
    font-size: 1.5rem;
    line-height: 2.1rem;
}
.image-with-copy-text .cta {
    display: none;
}
