.page-hero-section-wrapper > .container {
    padding: 0;
}

.page-hero-image-holder {
  position: relative;
}

.page-hero-secondary-image {
    border-radius: var(--border-radius-20);
    display: block;
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    width: 42%;
    height: auto;
    max-width: 54rem;
}

.page-hero-main-image-desktop {
    position: relative;
    bottom: 0;
    right: 2rem;
    height: auto;
    width: 58%;
    display: none;
}

.page-hero-section-wrapper.rose-gradient {
    background-image: linear-gradient(35deg,
       rgba(211, 177, 192, 0.77) 0%,
       rgba(254, 240, 235, 0.77) 95%);
}

@media (min-width: 768px) {
    .page-hero-image-holder {
        display: flex;
        justify-content: flex-end;
    }
    .page-hero-main-image-mobile {
        display: none;
    }
    .page-hero-main-image-desktop {
        display: block;
    }
    .page-hero-secondary-image {
        bottom: 1.7rem;
        right: 50%;
        width: 25%;
        max-width: 54rem;
    }
    .page-hero-section-wrapper {
        padding-block: 10rem 3rem;
    }
    .page-hero-section-wrapper > .container {
        padding-inline: 8rem;
    }
}

@media (min-width: 1024px) {
    .page-hero-section-wrapper {
      padding-block: 14rem 8rem;
    }
    .page-hero-secondary-image {
      border-radius: 0;
      bottom: 5.7rem;
  }
}

@media (min-width: 1600px) {
    .page-hero-secondary-image {
      width: 45%;
  }
}