.parallax-section {
  height: 68dvh;
  position: relative;
}

.parallax-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin: 0 auto; /* center the content wrapper for large screens */
}

.parallax-text-content {
  text-align: center;
  max-width: 78%;
  gap: 1.7rem;
  display: flex;
  flex-direction: column;
}

.parallax-text-content .title {
  font-size: 2.8rem;
  line-height: 3.4rem;
}

.parallax-text-content .subtitle {
  font-size: 1.5rem;
  line-height: 2.1rem;
}

.parallax-text-content .arrow-icon {
  padding-top: 5rem;
}

.parallax-text-content .arrow-icon svg {
  width: 1.8rem;
}

.parallax-images-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.parallax-image-holder {
  position: absolute;
  width: 13.5rem;
  border-radius: var(--border-radius-12);
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  backdrop-filter: blur(1.2rem) saturate(32%) brightness(98%);
  -webkit-backdrop-filter: blur(1.2rem) saturate(32%) brightness(98%);
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: -1;
}

.pos-top-left { top: 2%; left: -3%; }
.pos-center-right { top: 60%; right: -5%; }
.pos-bottom-left { bottom: 0; left: 8%; }


@media (min-width: 768px) {
    .parallax-section {
      height: 100dvh;
    }

    .parallax-text-content {
        max-width: 70.5rem;
    }

    .parallax-text-content .title {
        font-size: 4.8rem;
        line-height: 6.2rem;
    }

    .parallax-text-content .subtitle {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    .parallax-text-content .arrow-icon {
        padding-top: 6rem;
    }

    .parallax-text-content .arrow-icon svg {
        width: 2.5rem;
    }

    .pos-top-left { top: 2%; left: 11%; }
    .pos-center-right { top: 40%; right: 5%; }
    .pos-bottom-left { bottom: 0; left: 24%; }
}

@media (min-width: 1024px) {
    .parallax-image-holder {
        width: 23.4rem;
    }
}

@media (min-width: 1875px) {
    .parallax-image-holder {
        width: 33.4rem;
    }
}