.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-wrapper.product-wrapper-homepage {
  padding-block: 5rem;
}

product-media {
  width: 100%;
  position: relative;
}

.product-main-swiper {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.product-media-images-grid {
  position: absolute;
  bottom: 4.4rem;
  padding-inline: 1.7rem;
  width: 100%;
}

.product-thumb-swiper .swiper-slide {
  aspect-ratio: 4 / 3;
  cursor: pointer;
  border-color: var(--border-color-primary);
}

.product-thumb-swiper .swiper-slide-thumb-active {
  border-color: var(--primary-color);
}

.product-thumb-swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: calc( var(--border-radius-12) / 2);
}

.product-content {
  padding: 3.4rem 2rem 0;
  border-radius: var(--border-radius-18);
  margin-top: -2.5rem;
  position: relative;
  z-index: 20;
  background-color: var(--background-color);
}

.product-title {
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--text-color-secondary);
  padding-bottom: .5rem;
}

.product-subtitle{
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--primary-color);
  font-family: var(--primary-media-font);
  padding-bottom: 1.3rem;
}

.product-price {
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--text-color-secondary);
  padding-bottom: 1.4rem;
}

.product-description {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--text-color-tertiary);
  padding-bottom: 1.4rem;
}

.product-info-ctas {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.product-info-ctas a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black)
}

.swatch-container {
  border: none;
  padding-block: .7rem 1.2rem;
}

.swatch-container-label {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.swatch-list {
  display: grid;
  gap: .6rem;
  grid-template-columns: repeat(5, 1fr);
}

.buy-option-item input,
.size-item input,
.swatch-item input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.size-visual,
.swatch-visual {
  display: flex;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-12);
  border: .08rem solid var(--text-color-disabled);
  overflow: hidden;
  cursor: pointer;
  background-color: var(--border-color-primary);
}

.size-visual {
  aspect-ratio: 57 / 42;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text-color-tertiary);
}

.swatch-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

.buy-option-item input:checked + .buy-option-visual,
.size-item input:checked + .size-visual,
.swatch-item input:checked + .swatch-visual {
  border-color: var(--primary-color);
  border-width: .1rem;
}

.buy-option-item .buy-option-visual {
  border: 1px solid var(--text-color-disabled);
}

.buy-option-item input:checked + .buy-option-visual {
  background-color: var(--border-color-primary);
  border: 1px solid var(--primary-color);
}

.swatch-item input:checked + .swatch-visual img {
  opacity: 1;
}

.size-item input:focus-visible + .size-visual,
.swatch-item input:focus-visible + .swatch-visual {
  outline: 1px solid var(--focus-color);
  outline-offset: 1px;
}

.swatch-item.disabled {
  cursor: not-allowed;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.size-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem .5rem;
  width: 100%;
}

.size-item.kit-option {
  grid-column: span 6;
}
.size-item.kit-option .size-visual {
  aspect-ratio: auto;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  line-height: 1.8rem;
  height: 6rem;
  padding-inline: 1.8rem;
}

.size-item {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.product-promo-info,
.product-promo-info-secondary {
  padding: 2rem 1.8rem;
  border-radius: var(--border-radius-12);
  margin-top: 1rem;
}

.product-promo-info h5,
.product-promo-info-secondary h5 {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--primary-color);
  padding-bottom: 1rem;
  font-family: var(--primary-media-font);
}

.product-promo-info p,
.product-promo-info-secondary p {
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: var(--text-color-tertiary)
}

.product-promo-info li,
.product-promo-info-secondary li {
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: var(--text-color-tertiary);
 margin-left: 1.6rem;
}

.product-promo-info strong,
.product-promo-info-secondary strong {
  font-family: var(--primary-bold-font);
}

.product-promo-offer-title {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--text-color-secondary)
}

.preorder-button {
  width: 100%;
  background: var(--primary-color);
  color: var(--primary-color-inverse);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-12);
  font-size: 1.4rem;
  line-height: 2.2rem;
  height: 4.8rem;
  cursor: pointer;
}

/* product promo section */
product-media .product-section-promo {
 display: none;
}
.product-section-promo {
  margin-top: 2.6rem;
  border-radius: var(--border-radius-20);
  background-color: var(--background-color-secondary);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  padding: 3rem;
}
.product-section-promo-block {
  display: flex;
  gap: 2.1rem;
}
.product-section-promo-block-heading {
  display: flex;
  gap: 1.1rem;
  color: var(--primary-color)
}
.product-section-promo-block-heading .promo-block-icon {
  width: 2.8rem;
}
.product-section-promo-block-heading .promo-block-title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: var(--primary-media-font);
  width: 8rem;
}
.product-section-promo-block-description {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: var(--text-color-tertiary);
}

@media (min-width: 1024px) {
  .product-wrapper {
    flex-direction: row;
    align-items: flex-start;
    max-width: 128rem;
    padding-inline: 8rem;
    gap: 2rem;
    width: 100%;
  }

  .product-wrapper.product-wrapper-pdp {
    padding-top: 16.5rem;
  }

  .product-wrapper.product-wrapper-homepage {
    padding-block: 13rem;
  }

  product-media {
    width: calc(66% - 2rem);
    height: auto;
  }

  .product-media-images-grid {
    position: relative;
    bottom: 0;
    padding-top: 1rem;
    padding-inline: 0;
  }

  .product-main-swiper img {
    border-radius: var(--border-radius-20);
  }

  .product-thumb-swiper img {
    border-radius: var(--border-radius-12);
  }
  .product-content .product-section-promo {
    display: none;
  }
  product-media .product-section-promo {
    display: flex;
    flex-direction: row;
    margin-top: 2.4rem;
    gap: 0;
    padding: 2rem 3rem;
    justify-content: space-between;
  }
  product-media .product-section-promo-block {
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    flex: 1;
  }
  product-media .product-section-promo-block:nth-child(2) {
    position: relative;
  }
  product-media .product-section-promo-block:nth-child(2)::before,
  product-media .product-section-promo-block:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 82%;
    background-color: var(--border-color-secondary);
  }
  product-media .product-section-promo-block:nth-child(2)::before {
    left: 0;
  }
  product-media .product-section-promo-block:nth-child(2)::after {
    right: 0;
  }
  product-media .product-section-promo-block-heading {
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
  }
  product-media .product-section-promo-block-heading,
  product-media .product-section-promo-block-description {
    max-width: 19rem;
  }
  product-media .product-section-promo-block-heading .promo-block-title {
    width: 100%;
  }
  product-media .product-section-promo-block-description {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .product-wrapper {
    gap: 4rem;
  }
  product-media {
    width: calc(66% - 4rem);
  }
}
@media (min-width: 1440px) {
  .product-wrapper {
    padding-inline: 2rem;
  }
}

/* HOME PAGE styles*/

.product-media-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-media-slider {
  width: 100%;
}

.product-media-slider .swiper-slide img {
  aspect-ratio: auto;
}

.product-wrapper-homepage .product-content {
  margin:0;
  padding: 5rem 0;
  max-width: 38rem;
}

.swiper-ps-nav-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.swiper-ps-nav-holder .swiper-product-media-pagination {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--black);
}

.swiper-ps-nav-holder .swiper-nav-btns {
  gap: 3rem;
  display: flex;
  position: relative;
  height: 100%;
}

.swiper-ps-nav-holder .swiper-ps-button-prev,
.swiper-ps-nav-holder .swiper-ps-button-next {
  background: none;
  border: none;
  cursor: pointer;
  width: 2.4rem;
}

@media (min-width: 1024px) {
  .product-wrapper-homepage {
    gap: 5rem;
  }
  .product-media-content {
    width: 50%;
  }
  .product-wrapper-pdp .product-content {
    max-width: 38rem;
    padding: 0;
    margin: 0;
  }
  .swiper-ps-nav-holder {
    padding-top: 2.4rem;
  }
  .swiper-ps-nav-holder .swiper-nav-btns {
    gap: 5.8rem;
  }
  .swiper-ps-nav-holder .swiper-ps-button-prev,
  .swiper-ps-nav-holder .swiper-ps-button-next {
    width: 4.8rem;
  }
  .swiper-ps-nav-holder .swiper-product-media-pagination {
    font-size: 4rem;
    line-height: 4rem;
  }
  .product-media-slider .swiper-slide img {
    border-radius: var(--border-radius-30);
  }
  .product-wrapper-homepage .product-content {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .product-wrapper-homepage {
    gap: 10rem;
  }
}

/* product Shopify buy button container */
.shopify-buy-button-container {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 0;
  width: 0;
  overflow: hidden;
}
