.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-wrapper.product-wrapper-homepage {
  padding-block: 5rem;
}

product-media {
  width: 100%;
  position: relative;
}

.mobile-image-stage {
  background-image: url();
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.mobile-image-stage.active {
  opacity: 1;
  visibility: visible;
}

.product-media-images-grid {
  position: absolute;
  bottom: 4.4rem;
  padding-inline: 1.7rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .5rem;
  width: 100%;
  z-index: 20;
}

.product-media-images-grid .product-media-image-holder {
  border-radius: var(--border-radius-6);
  border: .1rem solid var(--border-color-primary);
  overflow: hidden;
  aspect-ratio: 1.2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-media-images-grid .product-media-image-holder.selected {
  border-color: var(--primary-color);
}

.product-mobile-image {
  height: 100%;
  object-fit: cover;
  width: 100% ;
  transition: opacity .3s ease-in-out;
}

.product-mobile-image.not-visible {
  opacity: 0;
}

.product-desktop-image{
  display: none;
}

.product-content {
  padding: 3.4rem 2rem 0;
  border-radius: var(--border-radius-18);
  margin-top: -2.5rem;
  position: relative;
  z-index: 20;
  background-color: var(--background-color);
}

.product-title {
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--text-color-secondary);
  padding-bottom: .5rem;
}

.product-subtitle{
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--primary-color);
  font-family: var(--primary-media-font);
  padding-bottom: 1.3rem;
}

.product-price {
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--text-color-secondary);
  padding-bottom: 1.4rem;
}

.product-description {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--text-color-tertiary);
  padding-bottom: 1.4rem;
}

.product-info-ctas {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.product-info-ctas a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black)
}

.swatch-container {
  border: none;
  padding-block: .7rem 2.4rem;
}

.swatch-container-label {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.swatch-list {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(5, 1fr);
}

.swatch-item input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.swatch-visual {
  display: block;
  width: 6.8rem;
  height: 6.8rem;
  border-radius: var(--border-radius-12);
  border: .08rem solid var(--text-color-disabled);
  overflow: hidden;
  cursor: pointer;
  background-color: var(--border-color-primary);
}

.swatch-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

.swatch-item:hover .swatch-visual {
  border-color: #999;
}

.swatch-item input:checked + .swatch-visual {
  border-color: var(--primary-color);
  border-width: .1rem;
}

.swatch-item input:checked + .swatch-visual img {
  opacity: 1;
}

.swatch-item input:focus-visible + .swatch-visual {
  outline: 1px solid var(--focus-color);
  outline-offset: 1px;
}

.swatch-item.disabled {
  cursor: not-allowed;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.product-promo-info,
.product-promo-info-secondary {
  padding: 2rem 1.8rem;
  border-radius: var(--border-radius-12);
  margin-top: 1rem;
}

.product-promo-info h5,
.product-promo-info-secondary h5 {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--primary-color);
  padding-bottom: 1rem;
  font-family: var(--primary-media-font);
}

.product-promo-info p,
.product-promo-info-secondary p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--text-color-tertiary)
}

.product-promo-info strong,
.product-promo-info-secondary strong {
  font-family: var(--primary-bold-font);
}

.product-promo-info {
  background-color: var(--border-color-primary);
  border: 1px solid var(--primary-color);
}

.product-promo-info-secondary {
  border: 1px solid var(--text-color-disabled);
}

.product-promo-offer-title {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--text-color-secondary)
}

.preorder-button {
  width: 100%;
  background: var(--primary-color);
  color: var(--primary-color-inverse);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-12);
  font-size: 1.4rem;
  line-height: 2.2rem;
  height: 4.8rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .product-wrapper {
    flex-direction: row;
    align-items: flex-start;
    max-width: 128rem;
    padding-inline: 8rem;
    gap: 2rem;
  }

  .product-wrapper.product-wrapper-pdp {
    padding-top: 16.5rem;
  }

  .product-wrapper.product-wrapper-homepage {
    padding-block: 13rem;
  }

  product-media {
    width: 100%;
    height: auto;
  }

  .mobile-image-stage {
    display: none;
  }

  .product-media-images-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    position: relative;
    bottom: 0;
    padding: 1.6rem 0;
  }

  .product-media-images-grid .product-media-image-holder:first-child,
  .product-media-images-grid .product-media-image-holder:nth-child(n + 6) {
    display: none;
  }

  .product-media-images-grid .product-media-image-holder {
    border-radius: var(--border-radius-12);
    cursor: auto;
  }
  .product-mobile-image{
    display: none;
  }
  .product-desktop-image{
    border-radius: var(--border-radius-12);
    aspect-ratio: 1.2 / 1;
    height: 100%;
    object-fit: cover;
    width: 100% ;
    display: block;
  }
}

@media (min-width: 1200px) {
  .product-wrapper {
    gap: 6rem;
  }
}

/* HOME PAGE styles*/

.product-media-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-media-slider {
  width: 100%;
}

.product-media-slider .swiper-slide img {
  aspect-ratio: 312/391;
}

.product-wrapper-homepage .product-content {
  margin:0;
  padding: 5rem 0;
  max-width: 38rem;
}

.swiper-ps-nav-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.swiper-ps-nav-holder .swiper-product-media-pagination {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--black);
}

.swiper-ps-nav-holder .swiper-nav-btns {
  gap: 3rem;
}

.swiper-ps-nav-holder .swiper-ps-button-prev,
.swiper-ps-nav-holder .swiper-ps-button-next {
  background: none;
  border: none;
  cursor: pointer;
  width: 2.4rem;
}

@media (min-width: 1024px) {
  .product-wrapper-homepage {
    gap: 5rem;
  }
  .product-media-content {
    width: 50%;
  }
  .swiper-ps-nav-holder {
    padding-top: 2.4rem;
  }
  .swiper-ps-nav-holder .swiper-nav-btns {
    gap: 5.8rem;
  }
  .swiper-ps-nav-holder .swiper-ps-button-prev,
  .swiper-ps-nav-holder .swiper-ps-button-next {
    width: 4.8rem;
  }
  .swiper-ps-nav-holder .swiper-product-media-pagination {
    font-size: 4rem;
    line-height: 4rem;
  }
  .product-media-slider .swiper-slide img {
    aspect-ratio: 781/975;
  }
  .product-wrapper-homepage .product-content {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .product-wrapper-homepage {
    gap: 10rem;
  }
}