.tech-specifications-section {
  padding-top: 4.5rem;
}

.tech-specifications-wrapper {
  background: var(--tertiary-color);
  border-radius: var(--border-radius-12);
  padding: 4.5rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.tech-specifications-description {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.tech-specifications-description img {
  max-width: 40%;
  border-radius: var(--border-radius-12);
}

.tech-specifications-description-content {
  display: flex;
  flex-direction: column;
}

.tech-specifications-description .title {
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--text-color-secondary);
  padding-block: .8rem 1.2rem;
}

.tech-specifications-description .subtitle {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: var(--text-color-tertiary);
}

.tech-specifications-details {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
.tech-specifications-details h2 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: var(--text-color-secondary);
}
.tech-specifications-details ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(37rem, 100%), 1fr));
  gap: 2.2rem;
}
.tech-specifications-details ul li {
  list-style: none;
  position: relative;
  padding-left: 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tech-specifications-details ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2.3rem;
  height: 2.3rem;
  background-image: url('/images/svg/circle-bullet.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tech-specifications-details h6 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: var(--primary-media-font);
}
.tech-specifications-details-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--text-color-tertiary);
}

@media (min-width: 768px) {
    .tech-specifications-wrapper {
        flex-direction: row;
        gap: 4.5rem;
        padding: 6rem;
    }
    .tech-specifications-description,
    .tech-specifications-details {
        flex: 1 1 50%;
    }
    .tech-specifications-description {
        flex-direction: column;
        max-width: 43rem;
        gap: 2rem;
    }
    .tech-specifications-description img {
        max-width: 100%;
    }
    .tech-specifications-details ul {
        gap: 4rem 6rem;
    }
    .tech-specifications-description .title {
        font-size: 2.2rem;
        line-height: 3.2rem;
        padding-block: 0 1.8rem;
    }
    .tech-specifications-description .subtitle {
        font-size: 1.8rem;
        line-height: 3.1rem;
    }
    .tech-specifications-details-info {
        line-height: 2.2rem;
    }
    .tech-specifications-section {
        padding-top: 14.5rem;
      padding-bottom: 10rem;
    }
}

@media (min-width: 1600px) {
    .tech-specifications-wrapper {
        gap: 11rem;
        padding: 8rem 10rem;
    }
}
