@font-face {
  font-family: 'GeographWeb-Regular';
  src: url('../assets/fonts/geographwebregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeographWeb-Medium';
  src: url('../assets/fonts/geographeditwebmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeographWeb-Bold';
  src: url('../assets/fonts/geographwebbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}