@import './reset.css';
@import './fonts.css';
@import './variables.css';
@import './flex.css';

/* components */
@import './components/base.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/hero.css';
@import './components/heading-section.css';
@import './components/gallery-grid.css';
@import './components/image-with-cta.css';
@import './components/contact-us.css';
@import './components/parallax.css';

@import './components/free-scroll-products.css';
@import './components/tech-spec.css';
@import './components/alter-gallery.css';
@import './components/product-section.css';
@import './components/blog.css';
@import './components/page.css';



@import './media-queries.css';