@media (min-width: 768px) {
    .heading-section-with-cta,
    .heading-section {
        padding-block: 9.6rem 10rem;
        text-align: center;
    }
    .heading-section .heading-section-content-holder {
        max-width: 118rem;
    }
    .heading-section .section-title {
        font-size: 4.8rem;
        line-height: 6.2rem;
        padding-bottom: 2.3rem;
    }
    .heading-section .section-subhead {
        font-size: 1.8rem;
    }
    .heading-section-with-cta .heading-section-content-holder {
        max-width: 82rem;
    }
    .heading-section-with-cta .section-title {
        font-size: 4.8rem;
        line-height: 6.2rem;
        padding-bottom: 2.3rem;
    }
    .heading-section-with-cta .section-subhead {
        font-size: 1.8rem;
    }
    .heading-section-with-cta .btn-primary {
        margin-top: 6rem;
    }
    .heading-section-with-cta .icon-holder{
        padding-top: 2.4rem;
    }
    .heading-section-with-cta .icon-holder svg{
        width: 2.5rem;
    }
    .gallery-grid {
        column-count: 2;
        column-gap: 1.9rem;
        display: block;
    }
    .gallery-grid .gallery-item {
        break-inside: avoid;
        margin-bottom: 1.6rem;
    }
    .gallery-grid .gallery-item img {
        border-radius: var(--border-radius-30);
    }
    .gallery-grid .aspect-rect {
        aspect-ratio: 2 / 1;
    }
    .gallery-slider,
    .swiper-nav-holder {
        display: none !important;
    }

    .free-scroll-products-container {
        gap: 3rem;
    }
    .free-scroll-products-container img {
        max-width: 46.6rem;
    }
    .free-scroll-products-section .additional-space {
        flex: 0 0 5rem;
    }

    .free-scroll-section .title{
        font-size: 4.8rem;
        line-height: 6.2rem;
    }
}

@media (min-width: 1024px) {
    .features-sections-wrapper {
        gap: 14rem
    }
    .image-with-copy-container {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    .desktop-row-reverse {
        flex-direction: row-reverse;
    }
    .desktop-row-reverse .image-with-copy-text {
        padding-left: 0%;
        padding-right: 10%;
        max-width: 65rem;
    }
    .image-with-copy-image {
        max-width: 60rem;
    }
    .image-with-copy-image img {
        max-height: 50rem;
    }
    .image-with-copy-text {
        max-width: 59rem;
        padding-left: 10%;
    }
    .image-with-copy-text .title {
        font-size: 4.8rem;
        line-height: 6.2rem;
        padding-bottom: 4rem;
    }
    .image-with-copy-text .subtitle {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    .image-with-copy-text .cta {
        width: fit-content;
        display: block;
        margin-top: 11rem;
    }
}
