/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5% of the default 16px is 10px */
  scroll-behavior: smooth;
}

:root {
    --primary-color: #293D62;
    --primary-color-inverse: #FFFFFF;
    --secondary-color: #091237;
    --secondary-color-inverse: #FFFFFF;
    --text-color: #000000;
    --text-color-secondary: #212121;
    --background-color: #E4E9ED;
    --border-radius: 1.2rem;
    --border-radius-full: 100rem;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.4rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .announcement-bar {
    width: 100%;
    height: 4.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color-inverse);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .announcement-bar a {
    color: var(--secondary-color-inverse);
    text-decoration: underline;
    display: block;
}

header .container {
    padding: 0;
}

.header-content-wrapper {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2rem);
    padding-inline: 1.8rem;
    border-radius: var(--border-radius);
    backdrop-filter: blur(.5rem) saturate(103%) brightness(92%);
    -webkit-backdrop-filter: blur(.5rem) saturate(103%) brightness(92%);
    background: rgba(255, 255, 255, 0.05);
    position: absolute;
    top: calc(100% + 1.5rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

header .nav-links {
    display: flex;
    gap: 3.4rem;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

header .nav-links a {
    color: var(--primary-color);
    text-decoration: none;
    display: none;
}

.container {
    width: 100%;
    max-width: 1715px;
    padding: 1.5rem 1rem;
}

button[variant="outlined"] {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-full);
    font-size: 1.2rem;
    cursor: pointer;
}

header button[variant="outlined"] {
    border: 1px solid var(--primary-color-inverse);
    color: var(--primary-color-inverse);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    height: auto;
    width: 3.4rem;
    object-fit: contain;
    color: var(--primary-color-inverse);
}

.hero-section-wrapper {
    height: 100dvh;
    max-height: 682px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-block: 8rem 5.5rem;
    text-align: center;
    background-image: url('../images/home-page/hero-background-mobile.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* Responsive typography */
@media (min-width: 768px) {
    header .announcement-bar {
        font-size: 1.6rem;
        line-height: 1.4rem;
        padding-block: .9rem .6rem;
        height: 6rem;
        flex-direction: row;
        gap: .4rem;
    }
    header .announcement-bar a {
        display: inline;
    }
    .header-content-wrapper {
        height: 70px;
        padding-inline: 8rem;
        width: calc(100% - 16rem);
    }
    header .nav-links a {
        display: inline-block;
    }
    .container {
        padding-inline: 8rem;
    }
    header button[variant="outlined"] {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }
    header .logo {
        width: 6.8rem;
        color: var(--primary-color);
    }
    .hero-section-wrapper {
        max-height: 1296px;
        align-items: center;
        justify-content: center;
        padding-block: 8rem 5.5rem;
        text-align: left;
        background-image: url('../images/home-page/hero-background.webp');
    }
}

@media (min-width: 1875px) {
    .header-content-wrapper {
        width: calc(1715px - 8rem);
    }
}
