:root {
    --primary-color: #293D62;
    --primary-color-inverse: #FFFFFF;
    --secondary-color: #091237;
    --secondary-color-inverse: #FFFFFF;
    --tertiary-color: #D3DAE2;
    --tertiary-color-inverse: #FFFFFF;
    --text-color: #000000;
    --text-color-form: #3F4142;
    --text-color-secondary: #212121;
    --text-color-tertiary: #3F4142;
    --text-color-disabled: #B9B9B9;
    --background-color: #E4E9ED;
    --border-color-primary: #F1F5F8;
    --border-color-secondary: #D8D8D8;
    --arrow-icon-color: #919191;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #242426;
    --light-rose: #F7F1EF;
    --rose: #ECD9DB;
    --light-cold: #E4E9ED;
    --cold: #BFD2DF;
    --border-radius-6: 0.6rem;
    --border-radius-12: 1.2rem;
    --border-radius-18: 1.8rem;
    --border-radius-20: 2rem;
    --border-radius-30: 3rem;
    --border-radius-full: 100rem;
    --primary-font: 'GeographWeb-Regular', sans-serif;
    --primary-media-font: 'GeographWeb-Medium', sans-serif;
    --primary-bold-font: 'GeographWeb-Bold', sans-serif;
    --secondary-font: 'Rastano-3', sans-serif;

    --focus-color: #007bff;

    --announcement-bar-height-desktop: 6rem;
}